@import './colors.scss';

/* * Size reference
 *
 * $small-screen-up: 601px !default;
 * $medium-screen-up: 993px !default;
 * $large-screen-up: 1201px !default;
 * $small-screen: 600px !default;
 * $medium-screen: 992px !default;
 * $large-screen: 1200px !default;
 *
 */



* {
    color: $bone-support;
}

#root{
    height: 100%;
}
html, body, .block {
    //border: 5px solid darkblue;
    height: 100%;
}

body {
    background-color: $bone-support;
}

.primary-background {
    background-color: $primary-color;
}

//* Navbar *//

.brand-logo {
    width: 11rem;   
}

.brand-logo>img {
    filter: invert(100%);
}

// * Pushpin *//


// Class for when element is above threshold
.pin-top {
    position: relative;
}
  
// Class for when element is below threshold
.pin-bottom {
    position: relative;
}
  
// Class for when element is pinned
.pinned {
    position: fixed !important;
}